.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.column {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
img {
  border-radius: 10px;
}

#disco {
  background-color: #ffff00;
}
